* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
header {
    background: url(../img/bg.png) no-repeat center top / cover;
   padding-bottom: 160px;
   
}
div {
    box-sizing: content-box;
}
.contanier {
    width: 930px;
    margin: 0 auto;
}
.logo {
    margin-top: 41px;
    float: left;
}
nav {
    float: right;
    margin-top: 50px;
}
.menu {
    margin: 0;
    padding: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
    margin-right: 41px;
    
}
.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.titles__first {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 170px;
}
h1 {
    color: #fff;
    font-size: 75px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 15px 0;
}
.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}
.title {
    margin: 120px 0 80px 0;
    
}
.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}
.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    
}

.services__item {
    width: 270px;
    float: left;
    text-align: center;
}
.services__item h3 {
    font-size: 18px;
    margin: 20px 0 20px 0;
}
.services__item p {
    color: #777777;
    font-size: 14px;
    line-height: 1.55em;
}
.services__item:last-child {
    float: right;
}
.services__item:nth-child(2) {
    margin-left: 60px;
}
#services {
    padding-bottom: 120px;
}
#porfolio {
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 120px;
    
}
.works img {
    float: left;
}
.works img:nth-child(2) {
    margin-left: 29px;
}
.works img:last-child {
    float: right;
}
#about {
    padding-bottom: 120px;
}
